.result-summary > .stat.stat-with-accessory { position: relative; padding: 0; }
.stat-with-accessory > .stat { width: 100%; height: 100%; padding: .875rem 2.25rem .875rem 1.25rem; }
.stat-accessory { position: absolute; right: .375rem; top: 50%; transform: translateY(-50%); }
